{% extends "@Theme/layout.html.twig" %}

{% block content %}

{% if sent is defined %}
<div class="alert alert-success">{{ "verify_mobile.sent"|trans }}</div>
{% endif %}

<h1>{{ "verify_mobile.header"|trans }}</h1>
<p>{{ "verify_mobile.description"|trans }}</p>

{% if error_string is defined %}
<div class="alert alert-warning">
    {{ error_string }}
</div>
{% endif %}

<a class="btn btn-primary" href="{{path('verify_mobile', {'accountName': accountName })}}?send">{{ "verify_mobile.send"|trans }}</a>
<hr />
{% if sent is defined %}
<form action="{{path('verify_mobile', {'accountName': accountName })}}" method="post">
    <input autofocus type="text" name="mobile_code" class="form-control" style="margin-bottom: 5px;"/>
    <button class="btn btn-success">{{ "common.action_next"|trans }}</button>
</form>
{% endif %}

{{ "common.label_need_help"|trans }} <a target="_blank" href="{{ path("help") }}">{{ "common.action_click_for_help"|trans }}</a><br />

{% endblock %}
