{% extends "admin/layout.html.twig" %}

{% block content %}
<h2>Invites: {{ entities|length }}</h2>

{% if error != null %}
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-circle"></i>
        {{ error }}
    </div>
{% endif %}

<div class="buttonbox">
    <a href="{{ path('admin_invite_add') }}" class="btn btn-primary" role="button">
        <i class="fa fa-plus"></i>
        Create invite
    </a>
</div>

    <table class="table">
        <tr>
            <th>#id</th>
            <th>Date/time</th>
            <th>Inviter</th>
            <th>Invitee</th>
            <th>Status</th>
            <th>Attempts</th>
        </tr>
        {% for entity in entities %}
        <tr>
            <td>
                <a href="{{path('admin_invite_edit', { 'id': entity.id })}}">
                    {{ entity.id }}
                </a>
            </td>
            <td>{{ entity.created_at|date }}</td>
            <td><b>{% if not entity.inviter_org %}???{% else %}{{ entity.inviter_org }}{%endif%}</b><br />{{ entity.inviter }}</td>
            <td>
                <b>{{ entity.display_name }}</b><br />
                {{ entity.email }}<br />
                <i>{{ entity.account_name }}</i>
            </td>
            <td>{{ entity.status }}</td>
            <td>{{ entity.attempts }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
