{% extends "admin/layout.html.twig" %}

{% block content %}
<h2>Invites: {{ entities|length }}</h2>

{% if error != null %}
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-circle"></i>
        {{ error }}
    </div>
{% endif %}

<div class="buttonbox">
    <a href="{{ path('admin_invite_add') }}" class="btn btn-primary" role="button">
        <i class="fa fa-plus"></i>
        Create invite
    </a>
</div>

    <table class="table">
        <tr>
            <th>#id</th>
            <th>Date/time</th>
            <th>Inviter</th>
            <th>Display Name</th>
            <th>Email</th>
            <th>Account</th>
        </tr>
        {% for entity in entities %}
        <tr>
            <td>
                <a href="{{path('admin_invite_edit', { 'id': entity.id })}}">
                    {{ entity.id }}
                </a>
            </td>
            <td>{{ entity.created_at|date }}</td>
            <td><b>{{ entity.inviter_org }}</b> {{ entity.inviter }}</td>
            <td>{{ entity.display_name }}</td>
            <td>{{ entity.email }}</td>
            <td>{{ entity.account_name }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
