{% extends "admin/layout.html.twig" %}

{% block content %}
<h2>@{{ accountName }}: Notifications({{ entities|length }})</h2>

{% if error != null %}
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-circle"></i>
        {{ error }}
    </div>
{% endif %}

<div class="buttonbox">
    <a href="{{ path('admin_account_notification_add', { 'accountName' : accountName }) }}" class="btn btn-primary" role="button">
        <i class="fa fa-plus"></i>
        Notification
    </a>
</div>

    <table class="table">
        <tr>
            <th>id</th>
            <th>Source</th>
            <th>Type</th>
            <th>Subject</th>
            <th>Created</th>
            <th>Seen</th>
            <th>Action</th>
        </tr>
        {% for entity in entities %}
        <tr>
            <td>
                <a href="{{ path('admin_account_notification_view', {'accountName': accountName, 'notificationXuid': entity.xuid }) }}" title="View" >{{ entity.xuid }}</a>
            </td>
            <td>{{ entity.source_account_name }}</td>
            <td>{{ entity.notification_type }}</td>
            <td>{{ entity.subject }}</td>
            <td>{{ entity.created_at }}</td>
            <td>
                {{ entity.seen_at }}
            </td>
            <td>
                {% if entity.seen_at %}
                    <a href="{{path('admin_account_notification_unseen', {'accountName': accountName, 'notificationXuid': entity.xuid })}}">Unseen</a>
                {% else %}
                    <a href="{{path('admin_account_notification_seen', {'accountName': accountName, 'notificationXuid': entity.xuid })}}">Seen</a>
                {% endif %}
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
