{% extends "@Theme/layout.html.twig" %}

{% block content %}
<h1>{{ "login.header"|trans }}</h1>
{% if errormessage is defined %}
<div class="alert alert-danger">
    {{ errormessage }}
</div>
{% endif %}

<form action="{{ path("login_check") }}" method="post">
    <div class="form-group form-group form-group">

        {% if postfix is defined %}
            <div class="input-group">
                <input name="_username" value="{{ last_username }}" autofocus class="form-control" placeholder="{{ "common.label_username"|trans }}" required="required" />
                <div class="input-group-addon">{{ postfix|star|raw }}</div>
            </div>
        {% else %}
            <input name="_username" value="{{ last_username }}" autofocus class="form-control" placeholder="{{ "common.label_username"|trans }}" required="required" />
        {% endif %}

    </div>

    <div class="form-group form-group">
         <input name="_password" class="form-control" placeholder="{{ "common.label_password"|trans }}" type="password" required="required" />
    </div>


    <button type="submit" class="btn btn-success btn-lg">{{ "common.action_login"|trans }}</button><br />
    <br />
    {{ "common.label_noaccountyet"|trans }} <a href="{{ path("signup") }}">{{ "common.action_signup"|trans }}</a><br />
    {{ "common.label_reset_password"|trans }} <a href="{{ path("password_reset") }}">{{ "common.action_clickhere"|trans }}</a><br />
    {{ "common.label_need_help"|trans }} <a href="{{ path("help") }}">{{ "common.action_click_for_help"|trans }}</a><br />
</form>

{% endblock %}
