{% extends "@Portal/layout.html.twig" %}

{% block content %}
<h1>Welcome {{ currentuser.getDisplayName() }}</h1>

<div style="text-align: left;">
    <div class="row" >
         <div class="col-md-6" >
            <h3>My accounts: {{ accounts|length }}</h3>
         </div>
          <div class="col-md-6" >
                <div class="buttonbox">
                    <a href="{{ path('portal_add') }}" class="btn btn-primary" role="button">
                    <i class="fa fa-plus"></i> Add Account</a>
                    
                    <a href="{{ path("password_reset") }}" title="edit" class="btn btn-primary" role="button">
                        <span class="glyphicon glyphicon-cog"></span> Change password
                    </a>
                </div>
          </div>
    </div>
    
    <table class="table">
        <tr>
            <th>Account</th>
            <th>Action</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td>
                <img style="float: left; margin-right: 10px; width: 40px;" class="profile-thumb" src="{{ path('picture', { 'accountname': account.getName() } ) }}" />
                {{ account.getName() }}: {{ account.getDisplayName() }} ({{ account.getAccountType() }})<br />
            </td>
            <td>
                <a href="{{ path("portal_view", {"accountname": account.getName() })}}" title="View">
                <span class="glyphicon glyphicon-eye-open"></span>
                </a>
                
                 <a href="{{ path("portal_edit", {"accountname": account.getName() })}}" title="edit">
                <span class="glyphicon glyphicon-edit"></span>
                </a>
                
            </td>
        </tr>
        {% endfor %}
    </table>
</div>

<a href="{{ path("logout") }}" class="btn btn-default btn-lg">Logout</a><br />
{% endblock %}
