{% extends "portal/layout.html.twig" %}


{% block content %}

<h2>{{ oAccount.getDisplayName() }} </h2>

<div class="row" > 
    <div class="col-md-6 text-left" style="margin-bottom:10px;" >
           <img src="{{ path('picture', { 'accountname': accountname } ) }}" width="100px" />
           
        <h3>Upload picture</h3>
        <form action="#" method="post" id="frmPicture" name="frmPicture"  enctype="multipart/form-data" >
            {{ form_widget(form) }}    
            
            <div class="buttonbox">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-server"></i>
                    Save
                </button>
                <a href="{{ path('portal_index') }}" class="btn btn-default" role="button">
                    <i class="fa fa-arrow-left"></i>
                    Back
                </a>
            </div>
        </form>         
    </div>
    <div class="col-md-6">   
        <ul>
            <li>About: {{ oAccount.getAbout()|raw|nl2br }}</li>
        </ul>
    </div>   
</div>

<div class="row">

    <table class="table">
        <tr>
            <th class="text-center" >Users</th>
        </tr>
        <tr>
            <td>
        {% for aAccUser in aAccUsers %}
                <div class="col-md-4 table-bordered">{{ aAccUser }}</div>
        {% endfor %}
            </td>
        </tr>
    </table>
</div>
{% endblock %}