{% extends "@Portal/layout.html.twig" %}


{% block content %}

<h2>{{ oAccount.getDisplayName() }} </h2>

<div class="row" > 
    <div class="col-md-6 text-left" style="margin-bottom:10px;" >
           <img src="{{ path('picture', { 'accountname': accountname } ) }}" width="100px" />
           
        <h3>Upload picture</h3>
        <form action="#" method="post" id="frmPicture" name="frmPicture"  enctype="multipart/form-data" >
            {{ form_widget(form) }}    
            
            <div class="buttonbox">
                <button type="submit" class="btn btn-success">
                    <i class="fa fa-server"></i>
                    Save
                </button>
                <a href="{{ path('portal_index') }}" class="btn btn-default" role="button">
                    <i class="fa fa-arrow-left"></i>
                    Back
                </a>
            </div>
        </form>         
    </div>
    <div class="col-md-6">   
        <ul>
            <li>About: {{ oAccount.getAbout()|raw|nl2br }}</li>
        </ul>
        <div class="buttonbox">
            <a href="{{ path('protal_account_members', { 'accountname': accountname } ) }}" class="btn btn-info" role="button">
            <i class="fa fa-users"></i>  Manage members
            </a>
        </div>
    </div>   
</div>

<div class="row">
      
    <div class="row" >
        <div class="col-md-10" ><h2>Spaces</h2></div>
        <div class="col-md-2" >
            <div class="buttonbox">
                <a href="{{ path('portal_sapces_add', {'accountname' :accountname} ) }}" class="btn btn-primary" role="button">
                    <i class="fa fa-plus"></i>
                    Add Space
                </a>
        </div>
        </div>
    </div> 
  
    <table  class="table">
        <tr>
            <th class="text-left">Space</th>
            <th class="text-left">Description</th>
        </tr>
        {% for aRows in aSpaces %}
            <tr>
                <td class="text-left" >
                    <a href="{{ path('portal_spaces_view', {'id' :aRows.id } ) }}" title="view" >
                    {{ aRows.name }}
                    </a>
                </td>
                <td class="text-left" >{{ aRows.description|raw|nl2br }}</td>
            </tr>
        {% endfor %}
    </table>
</div>
{% endblock %}
