{% extends "admin/layout.html.twig" %}

{% block content %}

<h2>Account: {{ accountCount }}</h2>
<table class="table">
    <tr>
        <th></th>
        <th>Created</th>
        <th>Users</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td>
            <a href="{{ path("admin_account_edit", {"accountname": account.getName() })}}">
                <img style="float: left; margin-right: 10px; width: 40px;" class="profile-thumb" src="{{account.getPictureUrl() }}" />
                {{ account.getName() }}: {{ account.getDisplayName() }}
            </a>
        </td>
        <td>
            {{ account.getCreatedAt()|mydate }}
        </td>
        <td> <a href="{{ path('admin_account_users', {"accountname": account.getName()}) }}" ><span class="fa fa-group"></span></a></td> 
    </tr>
    {% endfor %}
</table>

<div class="buttonbox">
    <a href="{{ path('admin_account_add') }}" class="btn btn-primary" role="button">
        <i class="fa fa-plus"></i>
        Add
    </a>
</div>

{% endblock %}
