{% extends "admin/layout.html.twig" %}

{% block content %}

<h2>Groups: {{ groupCount }}</h2>
<table class="table">
    <tr>
        <th></th>
        <th>Created</th>
        <th></th>
    </tr>
    {% for g in groups %}
    <tr>
        <td>
            <a href="{{ path("admin_group_edit", {"groupname": g.getName() })}}">
                <img style="float: left; margin-right: 10px; width: 40px;" class="profile-thumb" src="{{ g.getPictureUrl() }}" />
                {{ g.getName() }}: {{ g.getDisplayName() }}
            </a>
        </td>
        <td>
            {{ g.getCreatedAt()|mydate }}
        </td>
        <td></td>
    </tr>
    {% endfor %}
</table>

<div class="buttonbox">
    <a href="{{ path('admin_group_add') }}" class="btn btn-primary" role="button">
        <i class="fa fa-plus"></i>
        Add
    </a>
</div>

{% endblock %}
