{% extends "admin/layout.html.twig" %}

{% block content %}
<h2>User: {{ username }}</h2>

<div class="row">
    <div class="col-md-4">
        <img class="profile" src="{{ viewuser.getPictureUrl() }}" />
    </div>
    <div class="col-md-4">
        <ul>
            <li>Username: {{ viewuser.getUsername() }}</li>
            <li>E-mail: {{ viewuser.getEmail() }}</li>
            <li>Display name: {{ viewuser.getDisplayName() }}</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Created at: {{ viewuser.getCreatedAt()|mydate }}</li>
            <li>Deleted at: {{ viewuser.getDeletedAt()|mydate }}</li>
            <li>Password updated at: {{ viewuser.getPasswordUpdatedAt()|mydate }}</li>
            <li>Last seen at: {{ viewuser.getLastSeenAt()|mydate }}</li>
        </ul>
    </div>
</div>

<div class="buttonbox">
    <a class="btn btn-default" href="{{ path("admin_user_tools", { "username": username } ) }}">Tools</a>
</div>

<h3>Accounts ({{ aUserAccounts|length }})</h3>
    {% if aUserAccounts %}
        <ul>
        {% for  aUserAccount  in aUserAccounts %}
            <li><a href="{{ path('admin_account_edit', {'accountname': aUserAccount.account_name }) }}" >{{ aUserAccount.account_name }}</a></li>
        {% endfor %}
        </ul>
    {% endif %}

<h3>Apps ({{ aUserApps|length }})</h3>
    {% if aUserApps %}
        <ul>
        {% for aUserApp in aUserApps %}
            <li><a href="{{ path('admin_app_view', {'appname':aUserApp.app_name }) }}">{{ aUserApp.app_name }}</a></li>
        {% endfor %}            
        </ul>
    {% endif %}

<h3>Identities ({{ aUserIdentities|length }})</h3>
{% if aUserIdentities %}
    <ul>
        {% for  aUserIdentity in aUserIdentities %}
            <li>{{ aUserIdentity.service }}</li>
        {% endfor %}
    </ul>
{% endif %}

<h3>Events ({{ aUserEvents|length }})</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th style=" text-align: center">Event Name</th>
            <th style=" text-align: center">Occured</th>
            <th style=" text-align: center">Admin</th>
            <th style=" text-align: center">Data</th>
        </tr>
        {% for aUserEvent in aUserEvents %}
        <tr>
            <td>{{aUserEvent.user_name}}</td>
            <td  style="text-align: center" >{{ aUserEvent.event_name }}</td>
            <td   style="text-align: center" >{{ aUserEvent.occured_at|mydate }} {{ aUserEvent.occured_at|date("H:i:s") }} </td>
            <td  style="text-align: center">{{ aUserEvent.admin_name }}</td>
            <td style="text-align: center" class="js-data-toggle"><button><span class="glyphicon glyphicon-send"></span></button></td>
        </tr>
        <tr>
           <td colspan="5" style="display: none;">
               <div>{{ aUserEvent.data }}</div>
           </td>
        </tr>
        {% endfor %}
    </table>

{% endblock %}
