{% extends "admin/layout.html.twig" %}

{% block content %}
<h2>User: {{ username }}</h2>

<div class="row">
    <div class="col-md-4">
        <img class="profile" src="{{ viewuser.getPictureUrl() }}" />
    </div>
    <div class="col-md-4">
        <ul>
            <li>Username: {{ viewuser.getUsername() }}</li>
            <li>E-mail: {{ viewuser.getEmail() }}</li>
            <li>Display name: {{ viewuser.getDisplayName() }}</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Created at: {{ viewuser.getCreatedAt()|mydate }}</li>
            <li>Deleted at: {{ viewuser.getDeletedAt()|mydate }}</li>
            <li>Password updated at: {{ viewuser.getPasswordUpdatedAt()|mydate }}</li>
            <li>Last seen at: {{ viewuser.getLastSeenAt()|mydate }}</li>
        </ul>
    </div>
</div>

<div class="buttonbox">
    <a class="btn btn-default" href="{{ path("admin_user_tools", { "username": username } ) }}">Tools</a>
</div>

<h3>Accounts (#)</h3>
//TODO: List all the `account` objects linked to this `user_name` by the `account_user` table

<h3>Apps (#)</h3>
//TODO: List all the `app` objects linked to this `user_name` by the `app_user` table

<h3>Identities (#)</h3>
//TODO: List all the `identities` objects linked to this `user_name`

<h3>Events (#)</h3>
//TODO: List all the `user_event` objects linked to this `user_name`

{% endblock %}
