{% extends "admin/layout.html.twig" %}

{% block content %}
<h2>User: {{ username }}</h2>

<div class="row">
    <div class="col-md-4">
        <img class="profile" src="{{ viewuser.getPictureUrl() }}" />
    </div>
    <div class="col-md-4">
        <ul>
            <li>Username: {{ viewuser.getUsername() }}</li>
            <li>E-mail: {{ viewuser.getEmail() }}</li>
            <li>Display name: {{ viewuser.getDisplayName() }}</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Created at: {{ viewuser.getCreatedAt()|mydate }}</li>
            <li>Deleted at: {{ viewuser.getDeletedAt()|mydate }}</li>
            <li>Password updated at: {{ viewuser.getPasswordUpdatedAt()|mydate }}</li>
            <li>Last seen at: {{ viewuser.getLastSeenAt()|mydate }}</li>
        </ul>
    </div>
</div>

<div class="buttonbox">
    <a class="btn btn-default" href="{{ path("admin_user_tools", { "username": username } ) }}">Tools</a>
</div>


<h3>Accounts: {{ accounts|length }}</h2>

<table class="table">
    <tr>
        <th>Accounts</th>
    </tr>
    {% for account in accounts %}
    <tr>
        <td>
            <a href="{{ path("admin_app_view", {"appname": account.getApp().getName() })}}">
                <img style="float: left; margin-right: 10px; width: 40px;" class="profile-thumb" src="{{ account.getApp().getPictureUrl() }}" />
                {{ account.getApp().getName() }}</a>: {{ account.getApp().getDisplayName() }}<br />
        </td>
    </tr>
    {% endfor %}
</table>

<h3>Event log</h3>

{% endblock %}
