{% extends "admin/layout.html.twig" %}

{% block content %}
<h2>User: {{ username }}</h2>

<div class="row">
    <div class="col-md-4">
        <img class="profile" src="{{ viewuser.getPictureUrl() }}" />
    </div>
    <div class="col-md-4">
        <ul>
            <li>Username: {{ viewuser.getUsername() }}</li>
            <li>E-mail: {{ viewuser.getEmail() }}</li>
            <li>Display name: {{ viewuser.getDisplayName() }}</li>
        </ul>
    </div>
    <div class="col-md-4">
        <ul>
            <li>Created at: {{ viewuser.getCreatedAt()|mydate }}</li>
            <li>Deleted at: {{ viewuser.getDeletedAt()|mydate }}</li>
            <li>Password updated at: {{ viewuser.getPasswordUpdatedAt()|mydate }}</li>
            <li>Last seen at: {{ viewuser.getLastSeenAt()|mydate }}</li>
        </ul>
    </div>
</div>

<h3>Update password</h3>

<form action="{{ path("admin_user_update_password", {"username": viewuser.getUsername()} ) }}" method="post">

    <div class="form-group form-group">
         <input name="_password" class="form-control" placeholder="Enter a new password" type="password" required="required" />
    </div>

    <div class="buttonbox">
        <button type="submit" class="btn btn-default">Update</button>
    </div>
</form>

<h3>Update E-mail address</h3>

<form action="{{ path("admin_user_update_email", {"username": viewuser.getUsername() })}}" method="post">

    <div class="form-group form-group">
         <input name="_email" class="form-control" placeholder="Enter a new password" type="password" required="required" />
    </div>

    <div class="buttonbox">
        <button type="submit" class="btn btn-default">Update</button>
    </div>
</form>

<h3>Event log</h3>

{% endblock %}
