{% extends "admin/layout.html.twig" %}

{% block content %}
<img class="profile" style="float: right; margin-left: 10px;"
    src="{{ path('picture', { 'accountname': account.getName() } ) }}" />
<h2>@{{account.getName}} <small>{{ account.getDisplayName() }}</small></h2>
<p class="lead">{{ account.getAbout()|raw|nl2br }}</p>
<div style="clear: both;"></div>
{#<div class="buttonbox">
    <a class="btn btn-primary" href="{{ path("admin_account_addapikey", { "accountname": account.getName() } ) }}">Add API</a>
</div>
#}

<h3>Account Properties ({{ accountProperties|length }})</h3>
<ul>
    {% for p in accountProperties %}
    <li><b>{{ p.getName() }}</b>: {{ p.getValue() }} <a href="{{path('admin_account_delete_property', {'accountname': account.getName, 'propertyId': p.id })}}"><i class="fa fa-remove"></i></a></li>
    {% endfor %}
</ul>
<form action="{{ path('admin_account_add_property', {'accountname': account.getName()})}}" method="post">
    <input type="text" required name="property_name" class="form-control" style="width: 150px; display: inline;" placeholder="Name" />
    <input type="text" required name="property_value" class="form-control" style="width: 150px; display: inline;" placeholder="Value" />

    <button class="btn btn-primary">Add property</button>
</form>
<h3>Events ({{ aApikeys|length }})</h3>
    <table class="table">
        <tr>
            <th>Name</th>
            <th style=" text-align: center">username</th>
            <th style=" text-align: center">passowrd</th>
            <th style=" text-align: center">Created At</th>
            <th style=" text-align: center">Action</th>
        </tr>
        {% for aRows in aApikeys %}
        <tr>
            <td>{{ aRows.name }}</td>
            <td style="text-align: center" >{{ aRows.username }}</td>
            <td style="text-align: center" >{{ aRows.password }}</td>
            <td style="text-align: center" >{{ aRows.created_at|date("H:i:s") }}</td>
            <td style="text-align: center" >
                <a href="{{ path("admin_account_editapikey", {"accountname": account.getName(), 'id': aRows.id})}}">
                 <span class="glyphicon glyphicon-edit"></span>
                </a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
