{% extends "admin/layout.html.twig" %}

{% block content %}

<h2>Account: {{ accountCount }}</h2>

<form action ="" name="frmAccList" id="frmAccList" method="post" >
    <div id="form">
        <div class="form-group">                    
            <input type="text" placeholder="Search" value="{{ searchText }}" id="searchText" name="searchText">
            <button type="submit" ><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
    <table class="table">
        <tr>
            <th></th>
            <th>Created</th>
            <th>Users</th>
            <th>Action</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td>
                <img style="float: left; margin-right: 10px; width: 40px;" class="profile-thumb" src="{{ path('picture', { 'accountname': account.getName() } ) }}" />
                <a href="{{ path("admin_account_view", {"accountname": account.getName() })}}">
                    {{ account.getName() }}: {{ account.getDisplayName() }}
                </a>
            </td>
            <td>
                {{ account.getCreatedAt()|mydate }}
            </td>
            <td> <a href="{{ path('admin_account_users', {"accountname": account.getName()}) }}" ><span class="fa fa-group"></span></a></td>
            <td>
                <a href="{{ path("admin_account_edit", {"accountname": account.getName() })}}">
                 <span class="glyphicon glyphicon-edit"></span>
                </a>
            </td> 
        </tr>
        {% endfor %}
    </table>
</form>
<div class="buttonbox">
    <a href="{{ path('admin_account_add') }}" class="btn btn-primary" role="button">
        <i class="fa fa-plus"></i>
        Add
    </a>
</div>

{% endblock %}