{% extends "admin/layout.html.twig" %}

{% block content %}

<h2>Account: {{ accountCount }}</h2>
<div class="buttonbox">
    <a href="{{ path('admin_account_add') }}" class="btn btn-primary" role="button">
        <i class="fa fa-plus"></i>
        Create new account
    </a>
</div>

<form action ="" name="frmAccList" id="frmAccList" method="post" >
    <div id="form">
        <div class="form-group">                    
            <input type="text" placeholder="Search" value="{{ searchText }}" id="searchText" name="searchText">
            <button type="submit" ><span aria-hidden="true" class="glyphicon glyphicon-search"></span></button>
        </div>
    </div>
    <table class="table">
        <tr>
            <th></th>
            <th>Created</th>
            <th>Users</th>
            <th>Validation</th>
            <th>Action</th>
        </tr>
        {% for account in accounts %}
        <tr>
            <td>
                <div style="width: 40px; height: 40px; float: left; margin-right: 10px; display: inline-block;">
                    <img style="width: 40px; height: 40px;"
                        class="profile-thumb"
                        src="{{ path('picture', { 'accountname': account.getName() } ) }}" />
                </div>
                <a href="{{ path("admin_account_view", {"accountname": account.getName() })}}">
                    {{ account.getName() }}: {{ account.getDisplayName() }}
                </a><br /><span class="badge badge-default">{{ account.getAccountType() }}</span>
            </td>
            <td>
                {{ account.getCreatedAt()|mydate }}
            </td>
            <td> <a href="{{ path('admin_account_users', {"accountname": account.getName()}) }}" ><span class="fa fa-group"></span></a></td>
            <td>
                <span class="label label-{% if account.isEmailVerified() %}success{% else %}default{% endif %}">
                    <i class="fa fa-envelope-o"></i></span>
                <span class="label label-{% if account.isMobileVerified() %}success{% else %}default{% endif %}">
                    <i class="fa fa-phone"></i></span>
            </td>
            <td>
                <a href="{{ path("admin_account_edit", {"accountname": account.getName() })}}">
                 <span class="glyphicon glyphicon-edit"></span>
                </a>
            </td> 
        </tr>
        {% endfor %}
    </table>
</form>

{% endblock %}
