{% extends "admin/layout.html.twig" %}

{% block content %}
<img class="profile" style="float: right; margin-left: 10px;"
    src="{{ path('picture', { 'accountname': account.getName() } ) }}" />
<h2>@{{account.getName}} <small>{{ account.getDisplayName() }}</small></h2>
<span class="badge badge-default">{{ account.getAccountType()}}</span>
<p class="lead">{{ account.getAbout()|raw|nl2br }}</p>
<div style="clear: both;"></div>

<h3>Account Properties ({{ accountProperties|length }})</h3>
<ul>
    {% for p in accountProperties %}
    <li><b>{{ p.getName() }}</b>: {{ p.getValue() }} <a href="{{path('admin_account_delete_property', {'accountname': account.getName, 'propertyId': p.id })}}"><i class="fa fa-remove"></i></a></li>
    {% endfor %}
</ul>
<form action="{{ path('admin_account_add_property', {'accountname': account.getName()})}}" method="post">
    <input type="text" required name="property_name" class="form-control" style="width: 150px; display: inline;" placeholder="Name" />
    <input type="text" required name="property_value" class="form-control" style="width: 150px; display: inline;" placeholder="Value" />

    <button class="btn btn-primary">Add property</button>
</form>
{% if account.getAccountType() == 'organization' %}
<h3>Users ({{ users|length }})</h3>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>
    {% for row in users %}
    <tr>
        <td><a href="{{ path('admin_account_view', { 'accountname': row.name })}}">{{ row.name }}</a></td>
    </tr>
    {% endfor %}
</table>
<div class="buttonbox">
    <a class="btn btn-primary" href="{{ path('admin_account_users', {'accountname': account.getName()})}}">Manage users and apikeys</a>
</div>
{% endif %}

{% if account.getAccountType() == 'user' or account.getAccountType() == 'apikey' %}
<h3>Organizations ({{ organizations|length }})</h3>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>
    {% for row in organizations %}
    <tr>
        <td><a href="{{ path('admin_account_view', { 'accountname': row.name })}}">{{ row.name }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if account.getAccountType() == 'organization' %}
<h3>API Keys ({{ apikeys|length }})</h3>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>
    {% for row in apikeys %}
    <tr>
        <td><a href="{{ path('admin_account_view', { 'accountname': row.name })}}">{{ row.name }}</a></td>
    </tr>
    {% endfor %}
</table>

<div class="buttonbox">
    <a class="btn btn-primary" href="{{ path("admin_account_add_apikey", { "accountname": account.getName() } ) }}">Add API Key</a>
</div>
{% endif %}

{% endblock %}
