{% extends "admin/layout.html.twig" %}

{% block content %}
<img class="profile" style="float: right; margin-left: 10px;"
    src="{{ path('picture', { 'accountname': account.getName() } ) }}" />
<h2>@{{account.getName}} <small>{{ account.getDisplayName() }}</small></h2>
<span class="label label-default">{{ account.getAccountType()}}</span>
{% if account.getStatus()=='ACTIVE' %}
    <span class="label label-success">
{% endif %}
{% if account.getStatus()=='INACTIVE' %}
    <span class="label label-warning">
{% endif %}
{% if account.getStatus()=='EXPIRED' %}
    <span class="label label-danger">
{% endif %}

{{account.getStatus()}}</span>

<p class="lead">{{ account.getAbout()|raw|nl2br }}</p>
<ul>
    <li>Email: {{ account.getEmail() }}
        <span class="label label-{% if account.isEmailVerified() %}success{% else %}default{% endif %}">
            <i class="fa fa-envelope-o"></i></span>
    </li>
    <li>Mobile: {{ account.getMobile() }}
        <span class="label label-{% if account.isMobileVerified() %}success{% else %}default{% endif %}">
            <i class="fa fa-phone"></i></span>
    </li>
    <li>Approved: 
        {% if account.getExpireAt() %}
        <span class="label label-danger">
            <i class="fa fa-thumbs-down"></i></span>
        {% else %}
        <span class="label label-{% if account.isApproved() %}success{% else %}default{% endif %}">
            <i class="fa fa-thumbs-up"></i></span>
        {% endif %}
    </li>
</ul>
<div style="clear: both;"></div>
<div class="buttonbox">
    <a class="btn btn-primary" href="{{ path('admin_account_edit', {'accountname': account.getName()})}}">Edit</a>
    {% if account.getAccountType() == 'user' %}
        <a class="btn btn-primary" href="{{ path('admin_account_connection_index', {'accountName': account.getName()})}}">Connections ({{ totalAccountConnect }})</a>
    {% endif %}
    <a class="btn btn-primary" href="{{ path('admin_account_notification_index', {'accountName': account.getName()})}}"><i class="fa fa-bell-o"></i> Notification</a>
    <a class="btn btn-primary" href="{{ path('account_address_index', {'accountName': account.getName()})}}"><i class="fa fa-building-o"></i> Addresses</a>
</div>

{#  ACCOUNT ASSIGN TAGS #}
<h3>Account Tags ({{ aAssignTags|length }})</h3>
<ul>
    {% for aTag in aAssignTags %}
     <li><b>{{ aTag.name }}</b></li>
    {% endfor %}
</ul>
<div class="buttonbox">
    <a class="btn btn-primary" href="{{ path('admin_account_tags', {'accountName': account.getName()})}}">Assign Tags</a>
</div>

<h3>Account Properties ({{ accountProperties|length }})</h3>
<ul>
    {% for p in accountProperties %}
    <li><b>{{ p.getName() }}</b>: {{ p.getValue() }} <a href="{{path('admin_account_delete_property', {'accountname': account.getName, 'propertyId': p.id })}}"><i class="fa fa-remove"></i></a></li>
    {% endfor %}
</ul>
<form action="{{ path('admin_account_add_property', {'accountname': account.getName()})}}" method="post">
    <input type="text" required name="property_name" class="form-control" style="width: 150px; display: inline;" placeholder="Name" />
    <input type="text" required name="property_value" class="form-control" style="width: 150px; display: inline;" placeholder="Value" />

    <button class="btn btn-primary">Add property</button>
</form>
{% if account.getAccountType() == 'organization' %}
<h3>Users ({{ users|length }})</h3>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>
    {% for row in users %}
    <tr>
        <td><a href="{{ path('admin_account_view', { 'accountname': row.name })}}">{{ row.name }}</a></td>
    </tr>
    {% endfor %}
</table>
<div class="buttonbox">
    <a class="btn btn-primary" href="{{ path('admin_account_users', {'accountname': account.getName()})}}">Manage users and apikeys</a>
</div>
{% endif %}

{% if account.getAccountType() == 'user' or account.getAccountType() == 'apikey' %}
<h3>Organizations ({{ organizations|length }})</h3>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>
    {% for row in organizations %}
    <tr>
        <td><a href="{{ path('admin_account_view', { 'accountname': row.name })}}">{{ row.name }}</a></td>
    </tr>
    {% endfor %}
</table>
{% endif %}

{% if account.getAccountType() == 'organization' %}
<h3>API Keys ({{ apikeys|length }})</h3>
<table class="table">
    <tr>
        <th>Name</th>
    </tr>
    {% for row in apikeys %}
    <tr>
        <td><a href="{{ path('admin_account_view', { 'accountname': row.name })}}">{{ row.name }}</a></td>
    </tr>
    {% endfor %}
</table>

<div class="buttonbox">
    <a class="btn btn-primary" href="{{ path("admin_account_add_apikey", { "accountname": account.getName() } ) }}">Add API Key</a>
</div>
{% endif %}

{% endblock %}
