{% extends "admin/layout.html.twig" %}

{% block content %}
<h2>Logs</h2>

    <table class="table">
        <tr>
            <th>Name</th>
            <th style=" text-align: center">Event Name</th>
            <th style=" text-align: center">Occured</th>
            <th style=" text-align: center">Admin</th>
            <th style=" text-align: center">Data</th>
        </tr>
        {% for aEvent in aEvents %}
        <tr>
            <td><a href="{{path('admin_account_view', {'accountname': aEvent.user_name })}}">{{aEvent.user_name}}</a></td>
            <td  style="text-align: center" >{{ aEvent.event_name }}</td>
            <td   style="text-align: center" >{{ aEvent.occured_at|mydate }} {{ aEvent.occured_at|date("H:i:s") }} </td>
            <td  style="text-align: center">{{ aEvent.admin_name }}</td>
            <td style="text-align: center" class="js-data-toggle"><button><span class="glyphicon glyphicon-send"></span></button></td>
        </tr>
        <tr>
           <td colspan="5" style="display: none;">
               <div>{{ aEvent.data }}</div>
           </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
