{% extends "@PreAuth/layout.html.twig" %}

{% block content %}

<h1>{{ "password_reset_mobile_check.header"|trans }}</h1>
<p>{{ "password_reset_mobile_check.description"|trans }}</p>

{% if error_string is defined %}
<div class="alert alert-warning">
    {{ error_string }}
</div>
{% endif %}

<form action="{{path('password_reset_mobile_check', {'accountName': accountName })}}" method="post">
    <input autofocus type="text" name="mobile_code" class="form-control" style="margin-bottom: 5px;"/>
    <button class="btn btn-success">{{ "common.action_next"|trans }}</button>
</form>
{% endblock %}
