{% extends "@PreAuth/layout.html.twig" %}

{% block content %}

<h1>{{ "password_reset.header"|trans }}</h1>
<p>{{ "password_reset.description"|trans }}</p>
{% if error_string is defined %}
<div class="alert alert-warning">
    {{ error_string }}
</div>
{% endif %}
<form action="{{ path("password_reset_request") }}" method="post">
    <div class="form-group form-group form-group">
        
        <input name="_search" autofocus class="form-control" placeholder="{{ "password_reset.placeholder"|trans }}" required="required" />
        
    </div>

    <button type="submit" class="btn btn-success btn-lg">{{ "common.action_next"|trans }}</button><br />
    <br />
    {{ "common.label_noaccountyet"|trans }} <a href="{{ path("signup") }}">{{ "common.action_signup"|trans }}</a><br />
</form>

{% endblock %}
