{% extends "@Layout/layout.html.twig" %}

{% block content %}

{% if currentuser is defined %}
<h1>{{ "index.welcome_username"|trans({ '%username%': currentuser.getName() }) }}</h1>
    <a href="{{ path('cp_index') }}" class="btn btn-success btn-lg">{{ "common.action_controlpanel"|trans }}</a><br />
    <br />
    {% if currentuser.isAdmin() %}
    <a href="{{ path('admin_index') }}" class="btn btn-default btn-lg">{{ "common.action_adminpanel"|trans }}</a><br />
    <br />
    {% endif %}
    <a href="{{ path('logout') }}" class="btn btn-default btn-lg">{{ "common.action_logout"|trans }}</a><br />

{% else %}
<h1>{{ "index.pleaselogin"|trans }}</h1>
    <a href="{{ path('login') }}" class="btn btn-success btn-lg">{{ "common.action_login"|trans }}</a><br />
    <br />
    <a href="{{ path('signup') }}" class="btn btn-default btn-lg">{{ "common.action_signup"|trans }}</a><br />

    <a href="{{ path('oauth2', {"provider":'facebook'}) }}" class="btn btn-default btn-lg">{{ "Facebook"|trans }}</a><br />
{% endif %}

{% endblock %}
