{% extends "@Layout/layout.html.twig" %}

{% block content %}
<h1>{{ "password_reset.header"|trans }}</h1>
<p>{{ "password_reset.description"|trans }}</p>
<form action="{{ path("password_reset_submit", {"username": username, "stamp": stamp, "token": token }) }}" method="post">
    <div class="form-group form-group">
         <input name="_password" class="form-control" placeholder="{{ "common.label_password"|trans }}" type="password" required="required" />
    </div>
    
    <div class="form-group form-group">
         <input name="_password2" class="form-control" placeholder="{{ "common.label_passwordrepeat"|trans }}" type="password" required="required" />
    </div>

    <button type="submit" class="btn btn-success btn-lg">{{ "common.action_next"|trans }}</button><br />
    <br />
</form>

{% endblock %}
