{% extends "site/layout.html.twig" %}

{% block content %}

<h1>{{ "password_lost.header"|trans }}</h1>
<p>{{ "password_lost.description"|trans }}</p>

<form action="{{ path("password_reset_request") }}" method="post">
    <div class="form-group form-group form-group">
        
        {% if postfix is defined %}
            <div class="input-group">
                <input name="_username" autofocus class="form-control" placeholder="{{ "common.label_username"|trans }}" required="required" />
                <div class="input-group-addon">{{ postfix|star|raw }}</div>
            </div>
        {% else %}
            <input name="_username" autofocus class="form-control" placeholder="{{ "common.label_username"|trans }}" required="required" />
        {% endif %}
        
    </div>

    <button type="submit" class="btn btn-success btn-lg">{{ "common.action_next"|trans }}</button><br />
    <br />
    {{ "common.label_noaccountyet"|trans }} <a href="{{ path("signup") }}">{{ "common.action_signup"|trans }}</a><br />
</form>

{% endblock %}
