{% extends "admin/layout.html.twig" %}

{% block content %}
<h2>Blacklist: {{ entities|length }}</h2>

{% if error != null %}
    <div class="alert alert-danger" role="alert">
        <i class="fa fa-exclamation-circle"></i>
        {{ error }}
    </div>
{% endif %}

<div class="buttonbox">
    <a href="{{ path('admin_blacklist_add') }}" class="btn btn-primary" role="button">
        <i class="fa fa-plus"></i>
        Create Blacklist
    </a>
</div>

    <table class="table">
        <tr>
            <th style=" text-align: center">#id</th>
            <th style=" text-align: center">Acount Name</th>
            <th style=" text-align: center">Description</th>
            <th style=" text-align: center">Action</th>
        </tr>
        {% for entity in entities %}
        <tr>
            <td style="text-align: center" >{{ entity.id }}</td>
            <td style="text-align: center" >{{ entity.account_name }}</td>
            <td style="text-align: center" >{{ entity.description }}</td>
            <td>
                <a href="{{path('admin_blacklist_edit', { 'id': entity.id })}}"  title="Edit" ><i class="glyphicon glyphicon-edit"></i></a>
                <a href="{{path('admin_blacklist_delete', { 'id': entity.id })}}" onclick="return confirm('Are you sure?');" title="Delete" ><i class="fa fa-remove"></i></a>
            </td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
