{% extends "@Theme/layout.html.twig" %}

{% block content %}
<h1>{{ "signup.header"|trans }}</h1>
<div class="alert alert-info" style="text-align: left;">{{ "signup.description"|trans }}</div>

{% if error_string is defined %}
<div class="alert alert-warning">
    {{ error_string }}
</div>
{% endif %}

<form action="{{ path("signup_submit") }}" method="post">
    <div class="form-group form-group form-group">
        
        <input name="_username" id="_username" value="{{ last_username|default("")}}" autofocus class="form-control" placeholder="{{ "common.label_username"|trans }}" required="required" />
        <div id="chkUserExist" style="display:none;"></div> 
    </div>

    <div class="form-group form-group">
         <input name="_displayname" value="{{ last_displayname|default("")}}" class="form-control" placeholder="{{ "common.label_displayname"|trans }}" type="text" required="required" />
    </div>
    
    <div class="form-group form-group">
         <input name="_email" value="{{ last_email|default("")}}" class="form-control" placeholder="{{ "common.label_email"|trans }}" type="email" required="required" />
    </div>
    
    {% if enable_mobile %}
    <div class="form-group form-group">
         <input name="_mobile" value="{{ last_mobile|default("")}}" class="form-control" placeholder="{{ "common.label_mobile"|trans }}" type="text" required="required" />
    </div>
    {% endif %}

    <div class="form-group form-group">
         <input name="_password" class="form-control" placeholder="{{ "common.label_password"|trans }}" type="password" required="required" />
    </div>
    
    <div class="form-group form-group">
         <input name="_password2" class="form-control" placeholder="{{ "common.label_passwordrepeat"|trans }}" type="password" required="required" />
    </div>

    <button type="submit" id = "btnSubmit" class="btn btn-success btn-lg">{{ "common.action_signup"|trans }}</button><br />
    <br />
    {{ "common.label_alreadyhaveanaccount"|trans }} <a href="{{ path("login") }}"" class="">{{ "common.action_loginhere"|trans }}</a><br />
    {{ "common.label_reset_password"|trans }} <a href="{{ path("password_reset") }}">{{ "common.action_reset_password"|trans }}</a><br />
    {{ "common.label_need_help"|trans }} <a target="_blank" href="{{ path("help") }}">{{ "common.action_click_for_help"|trans }}</a><br />
</form>

<script type="text/javascript">
    window.checkUser = {url: "{{ path('admin_user_check') }}" };
</script>
{% endblock %}
